.list-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". ."
        ". .";
    gap: 25px 0;
    padding: 0 0 40px 0;
    margin-bottom: 70px;
}

.news-item {
    padding: 0 10px;
}

.news-thumbnail {
    width: 100%;
    height: auto;
}

.news-date {
    color: #3ba66b;
    font-size: 14px;
    font-weight: 700;
    margin: 15px 0 5px;
    display: block;
}

.news-title {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.3;
}

.news-desc {
    margin-bottom: 5px;
    color: #000;
    font-size: 14px;
    line-height: 1.8;
}

@media (max-width: 700px) {
    .list-news {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ".";
        gap: 50px 0;
    }

    .news-item {
        padding: 0;
    }

    .news-date {
        margin-top: 20px;
    }
}