<button class="backToTop-btn"><i class="fa-solid fa-arrow-up"></i></button>

<div class="container">
    <div class="footer-content row">
        <div class="col-lg-4 col-md-12 col-12 column-footer text-center form-contact ">
            <h4 class="fw-bold text-white form-title">ĐĂNG KÝ NHẬN THÔNG TIN</h4>
            <p class="text-white mb-4">Đăng ký nhận bản tin để nhận ưu đãi đặc biệt về sản phẩm S.Fresh</p>
            <form class="d-flex align-items-center justify-content-center form-block position-relative" role="signup">
                <input class="form-value" type="name" placeholder="Email">
                <button class="signup-btn" type="submit">Đăng ký</button>
            </form>
        </div>
        <div class="col-lg-4 col-md-12 col-12 column-footer text-center">
            <div class="footer-logo">
                <a href="/"><img src="../images/layout/logo.png" alt=""></a>
            </div>
            <p class="text-introduce">Website thương mại điện tử S.Fresh do S Group là đơn vị chủ quản, chịu trách nhiệm
                và thực hiện các giao dịch liên quan mua sắm sản phẩm hàng hoá tiêu dùng thiết yếu.
            </p>
            <div class="footer-img">
                <img src="../images/layout/img-footer.png" alt="orange">
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12 column-footer text-center form-contact">
            <h4 class="fw-bold text-white form-title mt-0">LIÊN HỆ</h4>
            <ul class="p-0 info-list">
                <li class="info-item"><b>Địa chỉ:</b><a class="text-white" href="#"> A12, Đinh Tiên Hoàng, Q. Hoàn Kiếm, Hà Nội</a></li>
                <li class="info-item"><b>Điện thoại:</b><a class="text-white" href="#"> 0123 456 789</a></li>
                <li class="info-item"><b>Email:</b><a class="text-white" href="#"> contact@yourdomain.com</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12 text-center">
                <span class="copyright text-white">© Copyright 2022-2023 S.Fresh.</span>
            </div>
            <div class="col-lg-4 col-md-12 col-12 text-center">

            </div>
            <div class="col-lg-4 col-md-12 col-12 text-center socials-block">
                <a href="#"><i class="fa-brands fa-facebook-f text-white"></i></a>
                <a href="#"><i class="fa-brands fa-twitter text-white"></i></a>
                <a href="#"><i class="fa-brands fa-youtube text-white"></i></a>
                <a href="#"><i class="fa-brands fa-instagram text-white"></i></a>
            </div>
        </div>
    </div>
</div>